@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  padding: 20px;
  text-align: center;
  // border-bottom: 3px solid #243038;
}
header nav a {
  padding: 10px 20px;
  font-size: 1.5rem;
  font-weight: 600;
  color: #e0ffff;
  border-radius: 5px;
  letter-spacing: 0.5px;
}
header nav a:hover,
header nav a.active {
  background: rgba(148, 176, 185, 0.5);
  color: #0a2d30;
  transition: 0.5s ease-out;
  letter-spacing: 2px;
}

body {
}
section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section:nth-child(1) {
  color: white;
}
section:nth-child(2) {
  color: 151515;
  // background-image: url('https://images.unsplash.com/photo-1611080402167-ed75bae6df32?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bW91bnRhaW4lMjBsYW5kc2NhcGV8ZW58MHx8MHx8&w=1000&q=80');
  height:40vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}
section:nth-child(3) {
  color: 151515;
}
section:nth-child(4) {
  color: #151515;
  height:40vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  position: relative;

}
section:nth-child(5) {
  h2 {
    color: #151515;
  }
}
section .container {
  margin: 25px;
}
section h1 {
  font-size: 3rem;
}
section h2 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}
section .text-container {
}
section .text-container .text-box {
  padding: 20px;
  background: rgba(75, 75, 85, 0.8);
  border-radius: 15px;
}

section .text-container .text-box h3 {
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}


@media (max-width: 1080px) {
  .margined {
    margin-right: 150px;
    margin-left: 150px;
  }
}

@media (max-width: 900px) {
  .margined {
    margin-right: 25px;
    margin-left: 25px;
  }

  section h1 {
    font-size: 2rem;
    text-align: center;
  }
  section {
    text-align: center;
  }
  section .text-container {
    flex-direction: column;
  }
}

.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}
.deactive {
  animation: fade-out 0.5s ease-in;
}
.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}
.active.fade-top {
  animation: fade-top 1s ease-in;
}
.active.fade-left {
  animation: fade-left 1s ease-in;
}
.active.fade-right {
  animation: fade-right 1s ease-in;
}
@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  100% {
    transform: translateX(-200px);
    opacity: 1;
  }
}
@keyframes fade-top {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}


.hobbies-type {
  max-height: 24px;
}