<header>
  <nav class="navbar navbar-expand-sm navbar-light navbar-lewagon"
  data-controller="navbar"
  data-action="scroll@window->navbar#updateNavbar"
>
    <a class="inactive-link #home active">Home</a>
    <a class="inactive-link #about">Career</a>
    <a class="inactive-link #services">Experience</a>
    <a class="inactive-link #contact">Contact</a>
  </nav>

</header>
<section id="home" style="background-image: url('https://images.unsplash.com/photo-1611080402167-ed75bae6df32?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bW91bnRhaW4lMjBsYW5kc2NhcGV8ZW58MHx8MHx8&w=1000&q=80'); height:40vh; background-size: cover; background-repeat: no-repeat; background-attachment: fixed; background-position: center; position: relative';">
  <div class="container">
    <div class="row">
      <span class="" style="width: 16.3%">
      </span>
      <span class="active fade-top" style="width: 67.5%; border-bottom: 5px solid white; height: 5vh;">
      </span>
      <span class="" style="width: 15%">
      </span>
      <span class="active fade-left col-2" style="border-right: 5px solid white; height: 40vh;">
      </span>
      <div class="container col-8 m-0" class="background-opacity" style="background-color: rgba(1,1,1,.5);">
        <div class="">
          <h1>Hi! I'm Lux</h1>
          <h5>full-stack developer</h5>
          <div class="hobbies-type">
            <button class="btn btn-dark">> <span class="" data-controller="typed-js"></span></button>
          </div>
        </div>
      </div>
      <span class="active fade-right col-1" style="border-left: 5px solid white; height: 40vh;">
      </span>
      <span class="" style="width: 16.3%">
      </span>
      <span class="active fade-bottom" style="width: 67.5%; border-top: 5px solid white; height: 5vh;">
      </span>
      <span class="" style="width: 15%">
      </span>
    </div>

  </div>


</section>

<section id="about">
  <div class="container">
    <h2 class="reveal fade-top">Career</h2>
    <div class="text-container">
      <div class="row">
        <div class="p-2 col-12 col-md-4">
          <div class="text-box reveal fade-left">
            <h3>Rails</h3>
            <p>
              + 25 projects built from scratch to production.
            </p>
          </div>
        </div>
        <div class="p-2 col-12 col-md-4">
          <div class="text-box reveal fade-bottom">
            <h3>Api's</h3>
            <p>
              + 5 projects developed using api's.
            </p>
          </div>
        </div>
        <div class="p-2 col-12 col-md-4">
          <div class="text-box reveal fade-right">
            <h3>Databases</h3>
            <p>
              Self built databases with SQL.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="services">
  <div class="container">
    <h2 class="reveal fade-top">Experience</h2>
    <div class="text-container">
      <div class="row">
        <div class="p-2 col-12 col-md-6">
          <div class="text-box reveal fade-left">
            <h3>Bootcamp Teacher</h3>
            <p>
              <p>+ 150 students guided</p>
            </p>
          </div>
        </div>
        <div class="p-2 col-12 col-md-6">
          <div class="text-box reveal fade-right">
            <h3>##</h3>
            <p>##</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="contact">
  <div class="container">
    <h2 class="reveal fade-top">Contact</h2>
    <div class="text-container">
      <div class="row">
        <div class="p-2 col-12 col-md-6">
          <div class="text-box reveal fade-left">
            <h3>Direct</h3>
            <p>
              <p>Email: Luxheyo@gmail.com</p>
            </p>
          </div>
        </div>
        <div class="p-2 col-12 col-md-6">
          <div class="text-box reveal fade-right">
            <h3>Social medias</h3>
            <p>LinkedIn: lux9</p>
            <p>Github: lux9</p>
            <p>Instagram: @hey.lux</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>