<header>
  <nav class="navbar navbar-expand-sm navbar-light navbar-lewagon" data-controller="navbar" data-action="scroll@window->navbar#updateNavbar">
    <a class="inactive-link #home active">Home</a>
    <a class="inactive-link #about">Career</a>
    <a class="inactive-link #services">Experience</a>
    <a class="inactive-link #contact">Contact</a>
  </nav>
</header>

<div style="background-image: url('https://i.pinimg.com/originals/73/aa/91/73aa91ea9fc273f4385a1be59f3be6d5.jpg'); background-size: cover; background-repeat: no-repeat; background-attachment: fixed; background-position: fixed; position: relative; object-fit: cover;">

  <%# <section id="home" style="background-image: url('https://images.unsplash.com/photo-1611080402167-ed75bae6df32?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bW91bnRhaW4lMjBsYW5kc2NhcGV8ZW58MHx8MHx8&w=1000&q=80'); height:40vh; background-size: cover; background-repeat: no-repeat; background-attachment: fixed; background-position: center; position: relative';"> %>
  <%# <video autoplay muted loop plays-inline class="video-back">
    <source src="https://rr1---sn-oguesn6y.googlevideo.com/videoplayback?expire=1668238943&ei=__luY5GtOOqs2roPxMqNwA0&ip=121.185.211.139&id=o-AIrD7nCXgu1c2JOX-z6HJHDII0sBkpzBzqhnDB2vFkkY&itag=248&aitags=133%2C134%2C135%2C136%2C137%2C160%2C242%2C243%2C244%2C247%2C248%2C278&source=youtube&requiressl=yes&pcm2=no&spc=SFxXNoRoiOCkO7bU2fuFJl-A6Rsp6ao&vprv=1&mime=video%2Fwebm&ns=56x0lzej9pocR3eMfBD7K3UJ&gir=yes&clen=8705999&dur=40.007&lmt=1661525815971436&keepalive=yes&fexp=24001373,24007246&c=WEB&txp=5316224&n=UGHFA6wUMtyZpg&sparams=expire%2Cei%2Cip%2Cid%2Caitags%2Csource%2Crequiressl%2Cpcm2%2Cspc%2Cvprv%2Cmime%2Cns%2Cgir%2Cclen%2Cdur%2Clmt&sig=AOq0QJ8wRgIhAJNSfUC0Ge0eAg0ToUCYSWadzC7wywym7u5RjbFwtcsMAiEApwUzxsQLybPYWf7UCCiaM0PzXdwgXPC-w4Y5sV0CvUI%3D&rm=sn-3u-jwws7z,sn-3u-bh2sz7l&req_id=e3b735c654f8a3ee&ipbypass=yes&redirect_counter=2&cms_redirect=yes&cmsv=e&mh=hm&mm=30&mn=sn-oguesn6y&ms=nxu&mt=1668217009&mv=m&mvi=1&pl=16&lsparams=ipbypass,mh,mm,mn,ms,mv,mvi,pl&lsig=AG3C_xAwRQIhAKlleV7qFB2XmSZTPkFM905jhI8BHVlyMVLUTe5jLiG6AiAfAw0tEHZjnKooOzf8vpONThWMcfBcWoZGnt-iQwlIyw%3D%3D" type="video/mp4">
  </video> %>
  <section id="home" style="">
    <div class="container">
      <div class="row">
        <span class="" style="width: 8%">
        </span>
        <span class="active fade-top" style="width: 84%; border-bottom: 5px solid white; height: 5vh;">
        </span>
        <span class="" style="width: 8%">
        </span>
        <span class="active fade-left col-1" style="border-right: 5px solid white; height: 40vh;">
        </span>
        <div class="container col-10 m-0 pb-3" class="background-opacity" style="background-color: rgba(1,1,1,.4); display: flex;
      justify-content: end;
      align-items: end;">
          <div class="text-right">
            <h1>Hi! I'm Lux</h1>
            <h5>full-stack developer</h5>

          </div>
        </div>
        <span class="active fade-right col-1" style="border-left: 5px solid white; height: 40vh;">
        </span>
        <span class="col-1">
        </span>
        <span class="active fade-bottom col-10" style="outline: 5px solid white; background-color: white; border-top: 5px solid white; height: 7vh;">
          <div class="hobbies-type text-left col-12">
            <span class="" data-controller="typed-js"></span>
          </div>
        </span>
        <span class="col-1">
        </span>
      </div>

    </div>


  </section>

  <section id="about">
    <div class="container">
      <h2 class="reveal fade-top">Career</h2>
      <div class="text-container">
        <div class="row">
          <div class="p-4 col-12">
            <div class="text-box reveal fade-right">
              <h3>Rails</h3>
              <p>
                + 25 projects built from scratch to production.
              </p>
            </div>
          </div>
          <div class="p-4 col-12">
            <div class="text-box reveal fade-left">
              <h3>Api's</h3>
              <p>
                + 5 projects developed using api's.
              </p>
            </div>
          </div>
          <div class="p-4 col-12">
            <div class="text-box reveal fade-right">
              <h3>Databases</h3>
              <p>
                Self built databases with SQL.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="services">
    <div class="container">
      <h2 class="reveal fade-top">Experience</h2>
      <div class="text-container">
        <div class="row">
          <div class="p-4 col-12">
            <div class="text-box reveal fade-left">
              <h3>Bootcamp Teacher</h3>
              <p>
                <p>+ 150 students guided</p>
              </p>
            </div>
          </div>
          <div class="p-4 col-12">
            <div class="text-box reveal fade-right">
              <h3>##</h3>
              <p>##</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="container">
      <h2 class="reveal fade-top">Contact</h2>
      <div class="text-container">
        <div class="row">
          <div class="p-4 col-12">
            <div class="text-box reveal fade-left">
              <h3>Direct</h3>
              <p>
                <p>Email: Luxheyo@gmail.com</p>
              </p>
            </div>
          </div>
          <div class="p-4 col-12">
            <div class="text-box reveal fade-right">
              <h3>Social medias</h3>
              <p>LinkedIn: lux9</p>
              <p>Github: lux9</p>
              <p>Instagram: @hey.lux</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
