.text-right {
  text-align: right;
}

h1 {
  text-shadow: 5px 5px 5px black;
}

h2 {
  text-shadow: 5px 5px 5px black;
}

h3 {
  text-shadow: 5px 5px 5px black;
}

h4 {
  text-shadow: 5px 5px 5px black;
}

h5 {
  text-shadow: 5px 5px 5px black;
}

p {
  text-shadow: 5px 5px 5px black;
}